@model DoctorListModel
@{
    ViewData["Title"] = "Manage Doctor";
    Layout = "~/Areas/Admin/Views/Shared/_layout2.cshtml";
}

@section Styles
{
    <link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
}

@section Scripts
{
    <script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(function () {
            $('#doctors').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/Admin/Hospital/GetDoctorData",
            });
        });
    </script>
}

<br /> <br /><br/>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">All available doctors</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="doctors" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Specialist</th>
                                    <th>Fees</th>
                                    <th>ID</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Specialist</th>
                                    <th>Fees</th>
                                    <th>ID</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
