<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Evergreen Clinic</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/Home/img/apple-touch-icon.png" rel="icon">
    <link href="/Home/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Home/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/Home/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Home/vendor/aos/aos.css" rel="stylesheet">
    <link href="/Home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Home/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Home/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Home/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/Home/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/Home/css/style.css" rel="stylesheet">
    @await RenderSectionAsync("styles", false)
    ======================================================== -->
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
            <div class="align-items-center d-none d-md-flex">
                <i class="bi bi-clock"></i> Monday - Saturday, 8AM to 10PM
            </div>
            <div class="d-flex align-items-center">
                <i class="bi bi-phone"></i> Call us now +1 5555 88888 88
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <a href="index.html" class="logo me-auto"><img src="/Home/img/logo2.png" alt=""></a>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto " href="Index">Home</a></li>
                    <li><a class="nav-link scrollto" href="TestList">Test_List</a></li>
                    <li><a class="nav-link scrollto" href="DoctorList">Doctor_List</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Appointment</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="ManageSchedule">View_Appointment</a></li>
                            <li><a href="AddPatient">Take_Appointment</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="Login">SignIn</a></li>
                            <li><a href="Register">Register</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-8">
                        <div class="footer-info">
                            <h3>Evergreen Clinic</h3>
                            <p>
                                A108 Adam Street, NY 535022, USA<br><br>
                                <strong>Phone:</strong> +1 5589 55488 55<br>
                                <strong>Email:</strong> info@example.com<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Evergreen</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/Home/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/Home/vendor/aos/aos.js"></script>
    <script src="/Home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Home/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/Home/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/Home/vendor/php-email-form/validate.js"></script>
    <!-- jQuery -->
    <script src="/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/Admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Sparkline -->
    <script src="/Admin/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/Admin/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/Admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/Admin/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/Admin/plugins/moment/moment.min.js"></script>
    <script src="/Admin/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/Admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/Admin/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Template Main JS File -->
    <script src="/Home/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>